
@use "../resources" as *;


///////NEWS ARCHIVE//////


.module--article-feed {
  .flx-container {
      @media only screen and (min-width: 1100.11px) {
    display: flex;
      }
    .cell {
      width: 50%;
      @media only screen and (max-width: 1100px) {
      width: 100%;
      padding-left: 25%;
      }
      @media only screen and (max-width: 800px) {
      width: 100%;
      padding-left:  20%;
      }
      @media only screen and (max-width: 650px) {
      width: 100%;
      padding-left: 0;
      }
    }

  }
}

.article-feed__heading-cell {

}

.article-feed__heading {
  h1 {
    line-height: 80px;
          @media only screen and (min-width: 1100.11px) and (max-width: 1300px)  {
          font-size: 6vw;
          }
          @media only screen and (max-width: 1100px) {
          position: relative;
          margin-bottom: 10px;
          line-height: 1;
          }

  }
}

.article-feed__heading.-fake-heading {
  visibility: hidden;
  line-height: 0;

}

.article-feed-wrapper {
  border-top: solid 1px $a-text-grey;
    padding-top: 40px;
}

ul.article-feed__content {
    list-style: none;
    margin: 0;



  li {
    margin-bottom: 40px;
  }
}

.news-feed-item {
  display: flex;
}

.news-feed-item__img {
  width: 25%;
    max-width: 33.33%;
  margin-right: 20px;
  @media only screen and (max-width: 650px) {
margin-right: 16px;
  }
  .image-aspect-box {
    padding-top: 100%;
  }
}

.news-feed-item__content {
  cursor: pointer;
  &:hover {
    h5 {
          text-decoration: underline;
    }

  }
  flex-grow: 1;
  width: 75%;
  display: flex;
flex-direction: column;
  h5 {
    margin-bottom: 0.8rem;

  }
  p {
    font-size: 1.4rem;
  }

  .meta {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
    .tag {
      font-size: 1.3rem;
  background: $a-yellow;
  color: black;
  padding: 6px;
  border-radius: 2px;
  line-height: 100%;
  width: 68px;
  min-width: 50px;
  text-align: center;
    }
    .date {
      margin-left: 14px;
      font-size: 1.3rem;
      line-height: 1;
      font-weight: 500;
    }

    .capsule-wrap {
      margin-top: 0;
    }
    .basic-btn {
      font-size: 1.4rem;
    }


}

.article-feed__cat-nav {
  display: flex;
  height: 80px;
  @media only screen and (max-width: 700px) {
    // height: 60px;
  }
  align-items: center;


  position: sticky;
  top:0;
  z-index: 4;
  background: white;

  ul {
    list-style: none;
    margin: 0;
    display: flex;


  }
  li {
    background: transparent;
    border: none;
    padding: 0.8rem 2.4rem;
  line-height: 1;
  border-radius: 0.4rem;
  transition: 0.25s;

  &.S-active__cat {
  background: $a-yellow;

  }
  }
}

////ANIMATIONS

.article-feed__content{
opacity: 1;
transform: none;
transition: 0.25s;
}

.S-animating--articles{
  .article-feed__content {
    opacity: 0;
    transform: translateY(20px);


  }
}

.section--bottom-cta {
  transition: 0.25s;
}

.S-animating--articles{
.section--bottom-cta {
    opacity: 0;

  }
}

// SINGLE POST ///////


///BACK BUTTON ON block

.btn--go-back {
  font-size: 1.1rem !important;
margin: 0;
font-weight: 500;
padding: 6px 10px;
min-width: 115px;
text-align: center;

margin-bottom: 40px;
background: white;
padding-left: 0;
border: none;
color: $a-text-grey-alt;
color:black;
}

.btn--go-back .basic-btn__icon {
    margin: 0;
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
        // fill:$a-text-grey-alt;
}

.btn--go-back .basic-btn__text {
    margin-left: 4px;
    text-transform: uppercase;

}
.btn--go-back:hover {
	.basic-btn__text {
		transform: none;
    text-decoration: underline;
	}
	.basic-btn__icon {
		opacity: 1;


	}
}

.section--single-post {
padding-top: 40px;

}
.single-post__header-actions {
  // margin-bottom: 40px;
}
.single-post__footer {
  margin-top: 100px;
  border-top: solid 1px $a-text-grey;
  padding-top: 40px;
  display: flex;
  justify-content: center;
      @media screen and (max-width: 700px) {
        margin-top: 80px;
      }
      @media screen and (max-width: 550px) {
        margin-top: 60px;
      }
}


.single-post__base-container {
    max-width: 1060px;
      @media screen and (max-width: $base-width-media-max) {
        max-width: calc( 100% - 340px);
      }
      @media screen and (max-width: 1100px) {
        max-width: 760px;
      }
      @media screen and (max-width: 700px) {
        padding: 0 40px;
      }
      @media screen and (max-width: 550px) {
        padding: 0 16px;
      }
}

.module--single-post {

}

.module--single-post .entry-title {
  margin-bottom: 20px;
  @media screen and (max-width: 1200px) {
      margin-bottom: 10px;
  }
      @media screen and (max-width: 700px) {
        margin-bottom: 0.8rem;
      }
}

.module--single-post .entry-description {
  p {
    font-size: 2.4rem;
    line-height: 1.2;
    @media screen and (max-width: 1200px) {
      font-size: 2rem;
      line-height: 1.2;
    }
    @media screen and (max-width: 700px) {
      font-size: 1.8rem;
      line-height: 1.2;
    }
  }
}

@mixin blog-body-pad{
    padding: 0 80px;
    @media screen and (max-width: 1300px) {
      padding: 0 60px;
}
@media screen and (max-width: 1200px) {
  padding: 0 40px;
}
@media screen and (max-width: 1100px) {
  padding: 0 40px;
}
@media screen and (max-width: 1000px) {
  // padding: 0 0px;
}
@media screen and (max-width: 700px) {
  padding: 0 20px;
}
@media screen and (max-width: 550px) {
  padding: 0 16px;
}
}

.article-content {
  margin-top: 80px;
  @media screen and (max-width: 1200px) {
    margin-top: 60px;
  }
  @media screen and (max-width: 700px) {
    margin-top: 40px;
  }
  p, h2, h3, h4, h5 {
    @include blog-body-pad;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.6;
    @media screen and (max-width: 700px) {
       font-size: 1.4rem; //results in 16px
    }
  }
  h2, h3 {
    margin-bottom: 20px;
    margin-top: 40px;
    @media screen and (max-width: 700px) {
      margin-top: 30px;
        margin-bottom: 10px;
    }
  }
  h4, h5 {
      font-size: 2.6rem;
      margin-top: 1em;
      margin-bottom: 1em;
      @media screen and (max-width: 700px) {
        margin-top: 0.6em;
        margin-bottom: 0.6em;
      }
  }
}


////GENERAL BLOG OVERRIDES///

.wp-block-image {
  margin-top: 60px;
  margin-bottom: 60px;
  @media screen and (max-width: 1200px) {
    margin-top: 40px;
      margin-bottom: 40px;
  }
}

///EDIT THE SIZE CLASS FOR actaul ones

.wp-block-image.size-large {
  @include blog-body-pad;
}


.wp-block-column {
  .wp-block-image {
    padding: 0;
  }
}
