
@use "../resources" as *;



.section--laskentakohteet-app {
  position: relative;
max-width: 100vw;
}

.module--laskentakohteet-app {
  border-radius: 10px 10px 0 0;

  position: relative;

}


table {
  margin-bottom: 0;
}



.laskentakohteet-app__header {

  tr:after {
    content: "";
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
        background: $a-yellow;
  }

  th {
    // background: $a-yellow;
    font-size: 1.4rem;
    line-height: 22px;
    cursor:pointer;

    &:before {

    }
    span {
      display: inline-block;
        pointer-events: none;
    }
    span:after {
      content: "";

      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
          background: $a-yellow;
    }

  }
}



.laskentakohteet-app__body {
  width: 100%;
  min-height: 600px;
  background: $a-grey;

}



.module--laskentakohteet-app {

  th, td {
    padding: 0 20px;
    font-weight: 400;
}
th {
  padding-top: 0;
  padding-bottom: 20px;
}
tbody tr {
  // border-bottom: solid 1px $a-text-grey;
}
th {

}
td {
  color:white;
}
}

.td--kohde, .td--basic-cell {
  .flx-container {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding-top: 20px;

  }
}

.td__label {
  font-size: 1rem;
  color: $a-yellow;
  line-height: 2;
}
.td__name {
line-height: 20px;
}
.td__xtra-info {
  color: $a-text-grey;
    font-size: 1rem;
      line-height: 2rem;
}

.td--basic-cell {
  .td__name {
  font-size: 1.6rem;
  }
}

td:after {
  content: "";
  position: absolute;

  height: 1px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $a-text-grey;

}



tbody tr {
  position: relative;
}



//////APP SPECIFIC/////

.sticky--th {
  position: sticky;
  top: 10px;
  z-index: 2;
}

.module--laskentakohteet-app.-full-app {
  @media screen and (max-width: 1100px) {
overflow-x: scroll;
}
table {
  width: 100%;
  padding-bottom: 90px;
}
tr td:first-of-type {
    min-width: 240px;
}

  td, th {
    min-width: 153px;
  }
  .td--kohde, .tr--kohde {
    @media screen and (max-width: 1100px) {
      position: sticky;
      left: 0;
      z-index: 3;
  }
  }
  .td--kohde {
    background: $a-grey;
  }
}


/////HOME PREVIES MODS ///


.table-mask {
position: absolute;
bottom: 0;
left: 0;
height: 100px;
width: 100%;
background: white;

}

.-home-preview:after {
  content: "";
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #F0FF31;
}

.-home-preview .laskentakohteet-app__body {
  position: relative;
  overflow: hidden;
  tr td:first-of-type {
    width: 33.333%;
  }
}

.laskentakohteet-app__body.Anim--move-up {
  // background:green;
  .Anim-item--list {
    transform: translateY(-100%);
    transition: 0.75s cubic-bezier(.7,0,.3,1);
  }
}

.-home-preview table {
  overflow: hidden;
}

.-home-preview .laskentakohteet-app__header {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: $a-yellow;
}




//////FILTER NAVIGATION/////


.module--laskentakohteet-navigation {
  margin-bottom: 4.4rem;
  .flx-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.laskentakohteet-navigation__filters {
  ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  li {
    background: transparent;
    border: none;
    padding: 0.8rem 2.4rem;
  line-height: 1;
  border-radius: 0.4rem;

  &.S-active__area {
  background: $a-yellow;

  }
  }
}


.S-disabled__area-item {
  display: none;
}

// BTN

.filter-buttton__all-results, .filter-buttton__area {
background: none;
padding: 0;
margin: 0;
border: none;
cursor: pointer;

}




///////ANIMATIONS/////

.module--laskentakohteet-app.-full-app {
  transition: opacity 0.3s linear;
}

.module--laskentakohteet-app.S-animating {
  transition: 0s;
  opacity: 0;
  button {
    pointer-events: none;
  }
}








////////SORTABBLE


.sortable {
  border-spacing: 0;
}

// .sortable tbody tr:nth-child(odd) {
//   background: #e4e4e4;
// }

// .sortable td,
// .sortable th {
//   padding: 10px;
// }

// .sortable td:first-child,
// .sortable th:first-child {
//   border-top-left-radius: 4px;
// }

// .sortable td:last-child,
// .sortable th:last-child {
//   border-top-right-radius: 4px;
// }

// .sortable th {
//   background: #808080;
//   color: #fff;
//   cursor: pointer;
//   font-weight: normal;
//   text-align: left;
//   text-transform: capitalize;
//   vertical-align: baseline;
//   white-space: nowrap;
// }

// .sortable th:hover {
//   color: #000;
// }

.sortable th:hover::after {
  color: inherit;
  font-size: 1.2em;
  content: ' \025B8';
  opacity: 1;
}

.sortable th::after {
  font-size: 1.2em;
  color: black;
  content: ' \025B8';
    opacity: 0.5;
}

.sortable th.dir-d {
  color: #000;

}

.sortable th.dir-d::after {
  color: inherit;
  content: ' \025BE';
    opacity: 1;
}

.sortable th.dir-u {
  color: #000;
}

.sortable th.dir-u::after {
  color: inherit;
  content: ' \025B4';
      opacity: 1;
}

th.no-sort {
  pointer-events: none;
  &:after {
    font-size: 1.2em;
    color: black;
    content: "";
  }
}
