@use "../resources" as *;

@use "../variables" as *;

/*--------------------------------------------------------------
# Body Background
--------------------------------------------------------------*/
body {
  background: var(--body-bg);
}


/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/
.site-logo {
  font-size: 3.3rem; //if its a text logo
  text-transform: uppercase;


  color: white;
  max-width: 350px;

  svg, path, g {
	fill: currentColor; //uses color above
  }
}

.site-navigation .site-logo {
  padding: 3px 0;
}


/*--------------------------------------------------------------
# Site Top - holds logo and main menu at top
--------------------------------------------------------------*/
.site-top {
  position: relative; //change to fixed or absolute if wanted. if absolute add padding top to your entry-header!
  background: var(--site-top);
}


/*--------------------------------------------------------------
# Default Headers
--------------------------------------------------------------*/
.entry-header, .page-header {
  position: relative;
  min-height: calc(400px + 5vw);
  padding: 30px 0;
  color: white;
  background-color: var(--dark-grey);
  background-size: cover;


  h1 {
	margin: 0;
  }

  .cover-image {
	height: 500px;
  }

}


/*--------------------------------------------------------------
# Under header first thing should probably have padding-top. Usually its a section
# expect it to be a paragraph or a heading or a section
# Sometimes header is outside entry-content so we select the very first thing inside there
--------------------------------------------------------------*/
.entry-header + p, .entry-content > p:first-child{
  padding-top: var(--gap);
}



/*--------------------------------------------------------------
# Default Footer
--------------------------------------------------------------*/

// .site-footer {
//   padding-top: 5px;
//   padding-bottom: 5px;
//   background: var(--footer-bg);
//   color: var(--subtle-text-color);
//   font-size: 1.1rem;
//
//   a{
// 	color: inherit;
//   }
// }



/*--------------------------------------------------------------
# Error 404 Page
--------------------------------------------------------------*/
.error404 {
  background: white;
  color: var(--highlight);

  .site-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-footer, .site-top {
    display: none;
  }

  .title-404 {
    font-size: 27vmin;
    font-weight: bold;
    line-height: 1;
    color: rgba(74, 58, 148, 0.82);
    text-shadow: 1px 1px white;
    margin-bottom: var(--gap);
  }
}




////////////*****UTILITY STYLES//////


.U_container {
  position: relative;
  width: 100%;
  max-width: $base-width;
  margin-left: auto;
  margin-right: auto;
}

.U_base-pad {
padding-left: 16px;
padding-right: 16px;
	@media only screen and (min-width: 700px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  // @media only screen and (min-width: 1200px) {
  //   padding-left: 40px;
  //   padding-right: 40px;
  // }
}

.U_base-pad--right-only {
  padding-right: 16px;
  	@media only screen and (min-width: 700px) {

      padding-right: 40px;
    }

}

.U-sec-pad {
  padding-top: 160px;
  @media only screen and (max-width: 1200px) {
    padding-top: 100px;
  }
  @media only screen and (max-width: 700px) {
    padding-top: 60px;
  }
}

.U-sec-pad__small {
  padding-top: 80px;
  @media only screen and (max-width: 1200px) {
    padding-top: 60px;
  }
  @media only screen and (max-width: 700px) {
    padding-top: 40px;
  }
}

//////PAD FIRTS SECTTION LESS

section.U-sec-pad:first-of-type {
    padding-top: 100px;
    @media only screen and (max-width: 1200px) {
      padding-top: 80px;
    }
    @media only screen and (max-width: 700px) {
      padding-top: 20px;
    }
}

.U-sec-marg {
  margin-top: 160px;
  @media only screen and (max-width: 1200px) {
    margin-top: 100px;
  }
  @media only screen and (max-width: 700px) {
    margin-top: 60px;
  }
}

.U_padded-container {
  padding-top: 140px;
  padding-bottom: 140px;
  @media only screen and (max-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media only screen and (max-width: 1100px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media only screen and (max-width: 700px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


.image-aspect-box {
    height: 0;
    overflow: hidden;
    position: relative;
    ///ADDD PADDING ON PARENT
}


.image-aspect-box_inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    // background: #fcfcfc;
}

.image-aspect-box_inner {
  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.-fixed-bg-img {
  background-attachment: fixed;
  background-size: cover;
background-position: center center;
}

.cell-p {
  // margin-top: 40px;
}

.heading-content {
  .ingr {
    max-width: 50%;
      @media only screen and (max-width: 1000px) {
        max-width: 560px;

      }
  }
}

///TEXT UTILITY FOR THIS SITE

.heading {
  max-width: 950px;
  h2 {
      margin-right: 25%;
  }

}

/////// STICKY HEADING////
.-sticky-label {
  position: sticky;
  top: 0px;
}

///resize

.resize-animation-stopper * {
    // -webkit-animation: none !important;
    // animation: none !important;
    transition: none !important;
      transition-delay: none !important;
}






/*--------------------------------------------------------------
# MODULES --- just add the stuff here and split to GLOBAL folder ***

Moved: _kohteet
--------------------------------------------------------------*/



//******/HEADING + TEXT

.module--heading_txt {

  .flx-container {
    display: flex;
  }
  .cell {
    width: 100%;
        margin-top: 80px;
      @media screen and (min-width: 1000px) {
        width: 50%;
      }


      @media screen and (max-width: 700px) {
      margin-top: 40px;
      }

  }
  .-left-nudge {
  margin-left: 20%;

    @media screen and (min-width: 1000px) {
  justify-content: flex-end;
  margin: auto;
  }

  }

}

//FLOATING HEADING
.floating-heading {
  padding-top: 20px;
  padding-left: 8.33333%;
  margin-bottom: -100px;
}

.floating-heading--pre-table {
  padding-bottom: 20px;
}

.module--floating-manifest.-left-nudge {
  @media screen and (min-width: 1000.11px) {
margin-left: 16.6666666667%;
}
}

///*******FULL IMAGE

.module--full-image {
  position: relative;
  .image-aspect-box{
        padding-top: 56%;
  }
}

.module--full-image.-left-nudge {
    padding-left: 16.6666666667%;

    @media screen and (min-width: 500px) {

        padding-left: 20%;
    }
  @media screen and (min-width: 1000px) {

      padding-left: 33.33%;
  }
}

.module--full-image.-left-nudge--small {
    margin-left: 16.6666666667%;
  }

.module--full-image.-right-nudge {
      padding-right: 16.6666666667%;

      @media screen and (min-width: 500px) {

          padding-right: 20%;
    }
  @media screen and (min-width: 1000px) {
      padding-right: 33.33%;
  }
}

.full-image__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 40px;
  background: $a-yellow;
  width: 70%;
  width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .capsule-wrap {
        margin-top: 0;
      }
}


// .animated img {
//   transform: translateY(-20px);
//   transition: 2s;
// }

.-overlay-image {
  position: absolute !important;
top: 0;
left: 0;
transition: 1.75s cubic-bezier(.5,0,.3,1);

// transition: 2s;

// transition: 1.5s;
// transition-delay: 1s;


// transition: 1s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.animated .-overlay-image {
  // opacity: 0;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
// clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}

.-overlay-image.-delay {
  transition-delay: 0s;
}




///********SPLIT CONTENT

.module--split-content {
  margin-bottom: 80px;
  .flx-container {
    display: flex;
        flex-wrap: nowrap;
  }

  ///desktop -- USE THE CELL STYLES for mobile
    @media screen and (min-width: 1000.11px) {
  .cell:first-of-type {
    width: 50%;
    min-width: 50%;
  }
  .cell:last-of-type {
    flex-grow: 1;
  }
  }


}

.module--split-content.-right-nudge {
  padding-right: 8.3333%;
}



.module--split-content.-boxed-layout {
  .split-content__img {
    position: relative;

  }

  .image-aspect-box {
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.-boxed-cell {
	background: $a-yellow;
  display: flex;
  align-items: center;
  .cell_txt-content {
    padding: 120px 80px !important;
  }
}

.-mosaic-split .-boxed-cell   .cell_txt-content{
    padding: 120px 50px !important;
}

.-boxed-cell_dark {

}


///MOBILE MOD -- USE THE CELL STYLES then


//MEADIUM///

.module--split-content .split-content__txt {
  @media screen and (max-width: 1000px) {
  width: 60%;;
    min-width: 60%;
}
}

.module--split-content .split-content__img {
  @media screen and (max-width: 1000px) {
  width: 40%;
    min-width: 40%;;
}
}

////MOBILE

.module--split-content {
  .flx-container {
      @media screen and (max-width: 750px) {
        flex-wrap: wrap;
      }
  }
  @media screen and (max-width: 700px) {
    margin-bottom: 60px;
  }
}

.module--split-content:nth-of-type(odd) {
  @media screen and (max-width: 750px) {
  padding-right: 25%;
  }
  @media screen and (max-width: 600px) {
  padding-right: 16.66%;
  }
  @media screen and (max-width: 500px) {
  padding: 0;
  }
}

.module--split-content:nth-of-type(even) {
  @media screen and (max-width: 750px) {
      padding-left: 25%;
  }
  @media screen and (max-width: 600px) {
  padding-left: 16.66%;
  }
  @media screen and (max-width: 500px) {
  padding: 0;
  }
}

.module--split-content .split-content__txt {
  @media screen and (max-width: 750px) {
  width: 100%;
    min-width: 100%;
    order: 2;
    margin-top: 20px;
}
}

.module--split-content .split-content__img {
  @media screen and (max-width: 750px) {
  width: 100%;
    min-width: 100%;
    order: 1;
}
}



.module--split-content:last-of-type {
  margin-bottom: 0;
}

.module--split-content .heading-content {
  margin-bottom: 64px;
}

.cell_img-content .image-aspect-box{
      padding-top: 100%;
      @media screen and (max-width: 750px) {
          padding-top: 56%;
      }
}

.cell_img-content .-wide-aspect {
      padding-top: 56%;
}

//!!!!!CONTENT PADDINGS FOR SPLIT CONTENT!!!!!///

.module--split-content .flx-container .cell:first-of-type .cell_txt-content {
padding-right: $txt-pad;
@media screen and (max-width: 1200px) {
    padding-right: $txt-pad-mid;
}
@media screen and (max-width: 750px) {
    padding: 0;
}
}
.module--split-content .flx-container .cell:last-of-type .cell_txt-content {
padding-left: $txt-pad;
@media screen and (max-width: 1200px) {
    padding-left: $txt-pad-mid;
}
@media screen and (max-width: 750px) {
    padding: 0;
}
}


.-mosaic-split {

  .flx-container {
    flex-wrap: wrap;
  }

  .mosaic-split__img {
    width: 100% !important;
    min-width: 100% !important;
  }
  .mosaic-split__txt {
    width: 100% !important;
    min-width: 100% !important;
  }
  @media screen and (min-width: 800.11px) {
  .mosaic-split__img {
  width: 50% !important;
  min-width: 50% !important;
  }
  .mosaic-split__txt {
  width: 50% !important;
  min-width: 50% !important;
  }
  }

  @media screen and (min-width: 1100.11px) {
.mosaic-split__img {
  width: 60% !important;
  min-width: 60% !important;
}
.mosaic-split__txt {
  width: 40% !important;
  min-width: 40% !important;
}
}

///ORDER and aligning
@media screen and (max-width: 800px) {
.mosaic-split__img {
order: 1;

}
.mosaic-split__txt {
order: 2;
margin-top: 20px;
}
.cell_txt-content {
  padding: 0 !important;
}
}


}





//////FLOATING HEADING////

.module--floating-manifest {
  h3 {
    margin-bottom: 0;
  }
  p {
    margin-top: 40px;
  }
}


////********LASKENTA COUNTER


.module--laskenta-count {
  .flx-container {
    display: flex;
    .cell {
      width: 50%;
    }
  }



.laskenta-count__number {
  span {
    font-size: 46rem;
    line-height: 38rem;
      @media screen and (max-width: $base-width-media-max) {
      font-size: 32.9vw;
      line-height: 29vw;
      }
  }
}
.laskenta-count__label {
  span {

    padding-bottom: 2.2rem;
    line-height: 1;
    margin: 0;
  }
}

.-bottom-label {
display: flex;
align-items: flex-end;
span {
  padding: 0;
  line-height: 1.1;
}
}

}


/////COUNTER MOD FOR Page

.module--laskenta-count--on-page {
  .flx-container {
        @media screen and (min-width: 760px) {
    display: flex;
      }
  }

  .laskenta-count__number {
    min-width: 490px;
          @media screen and (max-width: $base-width-media-max) {
              min-width: 37vw;
          }
    span {

      font-size: 36rem;
      line-height: 24rem;
      @media screen and (max-width: $base-width-media-max) {
      font-size: 27vw;
      line-height: 17.8vw;
      }

    }
  }

  .laskenta-count__label {
    display: flex;
    align-items: flex-end;
        margin-top: 20px;
    span {
    line-height: 1.1;
    margin-bottom: 0;
    margin-bottom: -14px;
    }
  }

}


//////*******SUPER DIGITS////////

.section--super-digit {
  // padding-top: 140px;
  // padding-bottom: 140px;

}

.module--super-digit {
  position: relative;
  z-index: 2;
}

.super-digits-mask {
  position: relative;
  overflow: hidden;
  line-height: 220px;
  @media screen and (max-width: $base-width-media-max) {
    line-height: 16vw;
  }
}

.super-digit__number {
  font-size: 26.7rem;
  line-height: 1;
  color: inherit;
  @media screen and (max-width: $base-width-media-max) {
  font-size: 18.5vw;
  }
  @media screen and (max-width: 1024px) {
  font-size: 18.1vw;
  }
  @media screen and (max-width: 700px) {
  font-size: 18.3vw;
  }

}
.super-digit__label {

}

.section--super-digit.-dark-mode {
background: $a-grey;
color: white;
.super-digit__label {
  color: $a-yellow;
}
}

$marq-overlay-height: 48px;

/////////REFE PRVIEW SCROLLLER////

.image-scroller {
    width: 100%;
      padding: 60px 0;
    transform: none;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (max-width: 1100px) {
      padding: 40px 0;
    }

    @media screen and (max-width: 800px) {
      padding: 20px 0;
    }
    @media screen and (max-width: 600px) {
      padding: 0px 0;
    }

}
.marquee {

    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
}

.marquee__inner {

    display: flex;
    flex-shrink: 0;

    flex-wrap: nowrap;
    width: 100%;
    animation: slide-left--image 16s linear infinite;
}

.marquee__inner  {

  .marquee-item {
    position: relative;
  min-width: 40%;
    padding-right: 10px;
    .image-aspect-box {
  padding-top: 50%;
    }
    img {
      // object-fit: initial;
      // height: auto;
    }

      @media screen and (max-width: 600px) {
        min-width: 75% !important;
        .image-aspect-box {
      padding-top: 56% !important;
      height: 0 !important;
        }
      }
  }

// $overlay-height: 40px;

.type-1 {
  min-width: 35%;
  @media screen and (min-width: 2000px) {
  min-width: 30%;
  }
  @media screen and (max-width: 1000px) {
  min-width: 40%;
  }
  .image-aspect-box {
padding-top: 56%;
padding-top: 75%;
  }

}
.type-2 {
  min-width: 25%;
  @media screen and (min-width: 2000px) {
  min-width: 20%;
  }
  @media screen and (max-width: 1000px) {
  min-width: 30%;
  }
  .image-aspect-box {
padding: 0;
height: calc(100% - #{$marq-overlay-height});
  }
    }
.type-3 {
  min-width: 32.5%;
  @media screen and (min-width: 2000px) {
  min-width: 28.5%;
  }
  @media screen and (max-width: 1000px) {
  min-width: 37.5%;
  }
  .image-aspect-box {
    padding: 0;
    height: calc(100%);
  }

}
  .type-4 {
    min-width: 30%;
    @media screen and (min-width: 2000px) {
    min-width: 25%;
    }
    @media screen and (max-width: 1000px) {
    min-width: 35.5%;
    }
    .image-aspect-box {
      padding: 0;
      height: calc(100% - #{$marq-overlay-height + $marq-overlay-height});
    }
}


}

.marquee-item__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  background: $a-yellow;
  width: 140px;
  max-width: 50%;
  min-height: $marq-overlay-height;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.marquee-item__overlay {
  .-type {
    font-size: 0.9rem;
      line-height: 1.2;
  }
  .-name {
    font-size: 1.4rem;
    line-height: 1.2;
  }
}


@keyframes slide-left--image {
    from {

        transform: translateX(0)
    }

    to {

        transform: translateX(-122.5%);

    }
}

@media screen and (min-width: 2000px) {
  @keyframes slide-left--image {
      from {

          transform: translateX(0)
      }

      to {

          transform: translateX(-102.5%);

      }
  }
}

@media screen and (max-width: 1000px) {
  @keyframes slide-left--image {
      from {

          transform: translateX(0)
      }

      to {

          transform: translateX(-142.5%);

      }
  }
}
@media screen and (max-width: 600px) {
  @keyframes slide-left--image {
      from {

          transform: translateX(0)
      }

      to {

          transform: translateX(-300%);

      }
  }
}


.module--refe-preview-txt {
      max-width: 1000px;
}


.section--refe-header {
  // min-height: 800px;
  .module--super-digit {
    position: absolute;
    top: 0;
    left: 0;
  }
}


// REFEPAGE

.module--refe-header-img {
  width: 100%;
  padding-left: 25%;
  padding-top: 140px;
  opacity: 0.5;
  .image-aspect-box {
    padding-top: 63.5%;
  }
}




////REFE PAGE LIST/////





.module--referenssit-content {
margin-bottom: 80px;
}

.refe-wrapper {
    @media screen and (min-width: 1000.11px) {
  margin-left: 16.6666666667%;
}
@media screen and (max-width: 650px) {
margin-left: 16.6666666667%;
}
@media screen and (max-width: 450px) {
margin-left: 0;
}
}

.refe-item {
  margin-top: 120px;
  @media screen and (max-width: 1400px) {
  margin-top: 100px;
}
@media screen and (max-width: 1200px) {
margin-top: 80px;
}
  .flx-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.refe-item:first-of-type {
  margin-top: 0;
}

.refe-item__heading {
    border-top: solid 1px $a-text-grey;
  margin: 0;
  padding: 20px 0;
  h4 {
    margin: 0;
  }
}

.refe-item__image {
  width: 50%;
  padding-right: 40px;
  @media screen and (max-width: 800px) {
    width: 40%;
        padding-right: 20px;
  }

  @media screen and (max-width: 650px) {
      width: 100%;
      padding: 0;
      margin-bottom: 40px;
  }
  .image-aspect-box {
    padding-top: 56%;
  }
}

.refe-item__content {
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 60%;
  }
  @media screen and (max-width: 650px) {
      width: 100%;
  }
}

.refe-item-table {
  .table-cell {
    display: flex;
    border-top: solid 1px $a-text-grey;
    .label {
      text-transform: uppercase;
      min-width: 140px;
      border-right: solid 1px $a-text-grey;
      font-size: 1.1rem;
      display: flex;
      align-items: center;

    }
    .value {
      padding-left: 20px;
          font-size: 1.6rem;
          @media screen and (max-width: 1000px) {
              font-size: 1.4rem;
          }
    }
    .label, .value {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .table-cell:last-of-type {
      border-bottom: solid 1px $a-text-grey;
  }
}



//////REFE ITEM DYNAMIC STYLES////

.refe-extended-content {

display: none;
opacity: 0;
transition: opacity 0.5s cubic-bezier(.7,0,.3,1), transform 0.5s;
margin-bottom: -60px;
p {
  font-size: 1.6rem;
  @media screen and (max-width: 1000px) {
      font-size: 1.4rem;
  }
}
}

.S-refe-activate {
.refe-extended-content {
  display: block !important;
}
.btn--refe-content-extend {
  opacity: 0;
  transition: opacity 0.25s linear;
  pointer-events: none;
  // visibility: hidden;

}

.basic-btn .basic-btn__text {
    // transform: translateX(1.2rem);
    // transition: 0.5s 0.1s;
}
.basic-btn .basic-btn__icon {
    // opacity: 0;
    // transition: 0.25s;
    // opacity: 0;
    // transition: opacity 0.25s linear;
    // transition-delay: 0s;
    // pointer-events: none;
    // visibility: hidden;
}

}





//////CONTACT PAGE///////////

.-border-section {
  border-top: solid 1px $a-text-grey;
  padding-top: 60px;
  @media screen and (max-width: 1200px) {
      padding-top: 40px;
  }
}

///FLEX LAYOUT ON CONTACT
.module--contact-offices, .module--contact-sales, .module--contact-customer-service {
.flx-container {
  display: flex;
    @media screen and (max-width: 1000px) {
    display: block;
    }
}
}

.aside-heading {
  min-width: 33.33%;
  width: 33.33%;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
  h4 {
    line-height: 1;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
  }
}
.aside-friend {
    width: 66.66%;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
}


// Contact page navigation

.contact-header, .contact-links {
  &.-left-nudge {
    margin-left: 33.33%;
    @media screen and (max-width: 1000px) {
          margin-left: 0;
    }
  }
}

.contact-links {
  margin-top: 30px;
  display: flex;
  a {
    background: $a-yellow;
  color: black;
  padding: 6px 14px;
  border-radius: 999px;
  margin-right: 6px;
  font-size: 1.2rem;
  font-weight: 500;
  }
}

.contact-desc {
margin-bottom: 40px;
    padding-right: 20%;
    min-width: 100%;

}

//////!!!!!! THESE ARE OVERRIDES FORM LASKENTA KOHTEET TEAM MEMBERS



.contact-sales__persons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.contact-sales__persons .area-contact-person {
  width: calc(33.33% - 10px);
    padding-top: 0;
    border: none !important;
  .area-contact-person__image {
      width: 100%;
    }
  .area-contact-person__content {
  padding: 0;
  display: block;
  width: 100%;
  .content__top {
    margin-top: 20px;
    margin-bottom: 10px;
    span {
      min-height: 36px;
      margin-bottom: 0;
    }
  }
.content__bottom.-marq-added {
margin-top: 20px;
  }
  }
}



.map-box {
  position: relative;
      height: 0;
      margin-bottom: 1rem;
      padding-bottom: 50%;
      overflow: hidden;
      background: #f3f3f3;
}
.map-box-inner {
  position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      iframe {
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

      }
}

.contact-offices__locations {
  margin-bottom: 40px;
  .flx-container {
    display: flex;
    flex-wrap: wrap;
  }
  .cell {
    width: 25%;
    padding-right: 10px;
  }
}

////CHECK FONT SIZE FROM MYYNTI TEAM AND COMPRESS
.areite-office {
  margin-top: 40px;

  h5 {
    font-size: 2.2rem;
        margin-bottom: 10px;
        font-weight: 500;
  }
  p {

    font-size: 1.6rem;
margin-top: 4px;
margin-bottom: 0;
line-height: 1.4;

  }
}

.contact-offices__content {
  margin-bottom: 40px;
  .cell {
  min-width: 25%;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 2.2rem;
      margin-bottom: 10px;
      font-weight: 500;
  }
  p {
    font-size: 2.2rem;

    line-height: 1;

  }
}

/*--------------------------------------------------------------
# BOTTOM CTA
--------------------------------------------------------------*/

.module--bottom-cta {
  .flx-container {
    display: flex;
  }
  .cell {
    width: 50%;
  }
}

.bottom-cta__image {
  background: grey;
  min-height: 60vh;
.image-aspect-box {
    height: 100%;
    overflow: hidden;
    position: relative;
}
}

.bottom-cta__content {
  background: $a-yellow;
  display: flex;
  align-items: center;
  .content-wrap {
  max-width: $base-width-half;
  padding-top: 80px;
  padding-bottom: 80px;
  // CHECK THE MINIMAL BASE PAD
  padding-left: 16px;

  @media screen and (min-width: 650.11px) {
      padding-left: $txt-pad-mid;
  }
  @media screen and (min-width: 1200.11px) {
      padding-left: $txt-pad;
  }

  }
}

////MOBILE cell styles////
.module--bottom-cta {
    @media screen and (max-width: 800px) {

.bottom-cta__image {
  width: calc(40px + 49%);
      min-height: 50vw;
  }
  .bottom-cta__content {
    width: 100%;
    .content-wrap {
    }
    }
}

@media screen and (max-width: 650px) {

.bottom-cta__image {
width: calc(40px + 49%);
  min-height: 50vw;
  display: none;
}
.bottom-cta__content {
width: 100%;
}
}
}


//////ANIMATIONSSS

.Anim-item--counter {
  // transform: translateY(40px);
  // transform: scale(1.1);
  // opacity: 0.5;
  display: inherit;

}

.animated {
  &.Anim-item--counter {
    opacity: 1;
    transition: 1100ms;
    transform: translateY(0px);

  }

}

.-real-number {
  // transform: translateX(10px);
}
.animated  {
  .-real-number {
      transform: translateY(0);
      transition: 1s;
  }

}


// .-real-number:after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: black;
//   opacity: 1;
// }

.animated {
  .-real-number:after {
    content: "";
    opacity: 1;
    transform: translateX(100%);
    transition: 1s;
  }
}

.-fake-number .char {
  transform: translateY(0%);
  transition: transform 0.5s, opacity 0s;
  opacity: 1;
  visibility: hidden;
  opacity: 1;
}

.-real-number .char {
  transform: translateY(110%) skewY(10deg);

  transform: translateX(110%) skew(-4deg);

    // transform: translateY(16px);
    // transform: translateY(110%);

    transform: translateX(16px) rotateY(-33deg);

    transform: rotateY(45deg) translateZ(40px);

    // transform: none;

  transition: transform 0.75s, opacity 0s;
  opacity: 1;
    opacity: 0;
}

.-real-number .char:after {
    // content: "";
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: black;
    // opacity: 1;
}

.animated {
  .-real-number .char:after {
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.5s;
  transition-delay: inherit;
  opacity: 1;
  }
}

.animated {
  .-fake-number .char {
    transform: translateY(-100%);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 1;
  }

  .-real-number .char {
    transform: translateY(0%);
    transition: transform 0.5s, opacity 0s;
    opacity: 1;
  }
}




@for $i from 1 through 20 {
.animated .char:nth-child(#{$i}) {
  transition-delay:(#{$i*0.12s});
}
}




///////ANIMATIONS//////



.-real-number {
position: absolute;
top:0;
left: 0;
}


// .Anim-item--img {
//     img {
//   transform: scale(1.1);
//     // transform: translateY(50%);
//   }
//   //   &:after {
//   //   content: "";
//   //   position: absolute;
//   //   left: 0;
//   //   top:0;
//   //   width: 100%;
//   //   height: 100%;
//   //   background: white;
//   // }
// }

.Anim-item--big-img  {
  img {

  transform: scale(1.3);
    // transform: translateY(50%);
      }
}

.Anim-item--big-img.animated {
  img {
    transform: none;
    transition: 1.5s;
  }
}

.Anim-item--img.animated {
  img {
    transform: none;
    transition: 0.75s;
  }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top:0;
  //   width: 100%;
  //   height: 100%;
  //   transform: translateY(-100%);
  //   transition: 0.75s;
  // }
}


.image-aspect-box_inner.-anim {
  height: calc(100% + 300px);
  top:-150px;
}

.full-image__overlay.Anim-item {
  overflow: hidden;
}

.full-image__overlay.Anim-item:after {
content: "";
position: absolute;
left: 0;
top:0;
width: 100%;
height: 100%;
  background: $a-grey;
}

.animated {
  .full-image__overlay.Anim-item:after {
  content: "";
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;

  transform: translateY(-100%);
  transition: 0.75s;
  }
}



// DEV RESETS

.full-image__overlay {
@media screen and (max-width: 800px) {
  display: none;
}
}
