@use "../resources" as *;

$header-logo-height: 16px;


.site-header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 100;
  // background: white;
  position: relative;
  // z-index: 999;
}

.flx-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 0;
}

.flx-nav {
.header-logo {
width: 50%;
display: inline-flex;
align-items: center;
  max-height: $header-logo-height;
a {
  display: inline-block;
  line-height: 1;
  max-height: $header-logo-height;
  opacity: 1 !important;
}
svg {
height: $header-logo-height;
width: auto;
}
}

.navigation-links {
  display: flex;
width: 50%;
min-width: 660px;
min-width: 700px;
}
}

.laskenta-nav-counter {
  position: absolute;
  right: -20px;
    top: -15px;
    background: $a-yellow;
    height: 20px;
    width: 20px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 0.8rem;
      color:$a-black;
      margin: 0;
      font-weight: 500;
      line-height: 0.8rem;
    }
}

// .dom-loading .page-template-etusivu {
//   .laskenta-nav-counter {
//   opacity: 0;
//   transform: translateY(6px);
//
//   }
// }

.fixed-mobile-navigation {
  .laskenta-nav-counter {
    position: absolute;
    right: -20px;
      top: -15px;
      background: $a-yellow;
      height: 20px;
      width: 20px;
      border-radius: 999px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 0.8rem;
        color:$a-black;
        margin: 0;
        padding-right: 1px;
        line-height: 0.8rem;
      }
  }

  //   @media screen and (min-width: 1000.11px) {
  // .laskenta-nav-counter {
  //   position: absolute;
  //   right: -22px;
  //     top: -17px;
  //     background: $a-yellow;
  //     height: 24px;
  //     width: 24px;
  //     border-radius: 999px;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     span {
  //       font-size: 1rem;
  //       color:$a-black;
  //       margin: 0;
  //       padding-right: 1px;
  //     }
  // }
  // }

  @media screen and (max-width: 600px) {
.laskenta-nav-counter {
  position: absolute;
  right: -20px;
    top: -15px;
    background: $a-yellow;
    height: 18px;
    width: 18px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 0.7rem;
      line-height: 0.7rem;
      color:$a-black;
      margin: 0;
      padding: 0;

    }
}
}
}

.-desktop-nav {
  a {
  line-height: 1;
    position: relative;
    font-size: 1.6rem;
  }
  a:last-of-type {
    margin-right: 0;
  }
}
.-desktop-nav.flx-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1100px) {
  .flx-nav {
    padding: 25px 0;
  }

  .-desktop-nav.flx-container {
  min-width: 10px;
  justify-content: flex-end;
  margin-right: 80px;
  position: relative;
.-nav-link {
  display: none;
}
}
}

@media screen and (max-width: 700px) {
  .flx-nav {

  }

  .-desktop-nav.flx-container {

  margin-right: 60px;

}
}


////////MOBILE NAVIGATION

.mobile-nav-trigger-box {

  position: fixed;

  top:0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding-top: 6px;
  pointer-events: none;
  .flx-container {
    display: flex;
    justify-content: flex-end;
  }

}




.mobile-nav-trigger-box_inner {
  width: 100%;
}

.mobile-nav-trigger {
  position: relative;
  height: 62px;
  width: 62px;
  background: $a-yellow;
  border-radius: 777px;
  border: none;
  // border: solid 1px black;
  pointer-events: all;

  display: flex;
align-items: center;
justify-content: center;
box-shadow: 2px 3px 20px #00000012;
  transform: scale(0);
opacity: 0;
transition: 0.25s cubic-bezier(.7,0,.3,1);
// transform: translateY(-110%);
pointer-events: none;



 svg:first-of-type {
  opacity: 1;
  transition: opacity 0.25s 0.25s;
}

svg:last-of-type {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
opacity: 0;
transition: opacity 0.25s;
}

}

.headroom--not-top.headroom--pinned {
  .mobile-nav-trigger {
    opacity: 1;
    pointer-events: all;
    transform: none;
    cursor: pointer;
  }
}

.headroom--top {
  .mobile-nav-trigger {
    opacity: 0;
    transform: scale(0);
    // transition: 0s;

  }
}

.S-active--mobile-nav {
  .mobile-nav-trigger {
    opacity: 1 !important;
    pointer-events: all;
    transform: none;
    cursor: pointer;
  }
}

.page-template-laskentakohteet {
.mobile-nav-trigger {
        @media screen and (min-width: 1100.11px) {
        display: none;
        }
  }
}

//////MOBILE///

// .headroom--top {
  .mobile-nav-trigger {
    @media screen and (max-width: 1100px) {
    opacity: 1 !important;
    transform: none !important;
    pointer-events: all;
    }
    @media screen and (max-width: 699.89px) {
    transform: scale(0.85) !important;
    transform-origin: right center;
    }
  }
// }



.fixed-mobile-navigation {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: $a-grey;
  z-index: 665;
  opacity: 0;
  height: 0;
  overflow: hidden;
  color: $a-white;
}

.fixed-mobile-navigation_inner {
  min-height: 100%;
  .content-wrap {
    // padding-left: 80px;
max-width: 700px;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
  @media screen and (max-width: 1100px) {
  justify-content: flex-start;
  }
  }
}

.fixed-logo {
  svg {
    fill:white;
    height: 37px;
  }

}
.fixed-logo.-bottom {
  margin-bottom: 10px;
    @media screen and (min-width: 1100.11px) {
      display: none;
    }
}

.fixed-logo.-top {
  position: absolute;
  top: 28px;
  left: 40px;
  z-index: 33;
  @media screen and (max-width: 1100px) {
  display: none;
  }
}

.fixed-mobile-navigation__links {
  display: flex;
  flex-direction: column;
  // padding-top: 80px;
  max-width: 700px;

  position: relative;
  a {
    margin: 0 !important;
    display: inline-block;
    line-height: 1;
    font-weight: 500;
    color: inherit;
      position: relative;

    span {
      margin-right: 16px;
    }
    svg {
      height: 28px;
    width: auto;
    fill: $a-yellow;
    }


  }
}

.fixed-mobile-navigation__sub-links {
  margin-top: 40px;
  ul {
    list-style-type: none;
    margin: 0;
    color: white;
    // display: flex;
  }
  li {
    margin-right: 20px;
  }
  a {
    color:white;
    position: relative;
  }
}

// .fixed-mobile-navigation__links::after {
//   content: "";
//       position: absolute;
//       top: -114px;
//       right: 0;
//       height: 100vh;
//       width: 1px;
//       background: #00000042
// }

.fixed-mobile-navigation__links .link-wrap {
  padding: 1.6rem 0;

    padding: 0.6rem 0;
  // border-top: solid 1px #00000042;

}
.fixed-mobile-navigation__links .link-wrap:last-of-type {
  // padding: 1.6rem 0;
  // border-bottom: solid 1px #00000042;

}

.fixed-mobile-navigation {
  .flx-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    position: relative;
    z-index: 2;

       @media screen and (max-height: 700px) and (min-width: 1100.11px) {
            align-items: flex-start;
            padding-top: 100px;
            padding-bottom: 100px;
       }

  }
  .cell {
    width: 50%;


    position: relative;
    // padding-bottom: 40px;

        ///////CHECK THSE IF IMAGE IS HERE
        // height: 66.66vh;
            // max-height: 650px;
        min-height: 466px;

      @media screen and (max-width: 1100px) {
            height: auto;
            // min-height: 10px;
            padding-top: 80px;
            margin-bottom: 40px;
            // max-height: 100%;
      }

  }
  .-img-content {
    // padding-right: 80px;
    .image-aspect-box {
      height: 100%;
      width: 100%;
    }
  }
  .-text-content {
    // padding-left: 80px
    // padding-left: 33.33%;
  }
  .-footer {
    width: 100%;
    min-height: calc(100vh - 66.66%);
    // background: $a-yellow;
  }
}

.S-active--mobile-nav {
  .fixed-mobile-navigation {
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s;
    overflow-y: auto;
  }

  .mobile-nav-trigger svg:first-of-type {
    opacity: 0;
    transition: opacity 0.25s;
  }
  .mobile-nav-trigger svg:last-of-type {
      opacity: 1;
      transition: opacity 0.25s 0.25s;
    }

}


.fixed-mobile-navigation__bottom-graphics {
  display: none;
}



// BG NAV IMAGE


    @media screen and (min-height: 850px) and (min-width: 1100.11px) {
.fixed-mobile-navigation_inner {
  display: flex;
  flex-direction: column;
}

.fixed-mobile-navigation .-img-content {
    // display: none;

}
.fixed-mobile-navigation .cell {
  max-height: 500px;
}

      .fixed-mobile-navigation .flx-container {
        min-height: 10px;
        padding-top: 140px;
      }
.fixed-mobile-navigation__bottom-graphics {
  display: block;

  margin-top: 100px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
flex-grow: 1;
  width: 100%;
}

}


@media screen and (max-width: 1100px) {
.fixed-mobile-navigation_inner {
display: flex;
flex-direction: column;
}


.fixed-mobile-navigation .cell {
max-height: 500px;
}

  .fixed-mobile-navigation .flx-container {
    min-height: 10px;
    // padding-top: 200px;
  }
.fixed-mobile-navigation__bottom-graphics {
display: block;

// margin-top: 100px;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
flex-grow: 1;
width: calc(100% + 90px);
margin-left: -42px;
}

}

@media screen and (max-width: 1000px) {
  .fixed-mobile-navigation .-img-content {
  display: none;
  }
}


//// BG NNAV IMAGE ENDS

////////LIMIT HEADROOM ON STICKY -> Laskentakohteet PAGE

// .S-on-sticky-scroll {
//   .mobile-nav-trigger {
//     transform: translateY(-110%) !important;
//     pointer-events: none !important;
//   }
// }




//////NAV ANIMATIONS/////

.-nav-link {
  transition: opacity 0.25s;
}

.S-active--nav-hover {
  .-nav-link {
    opacity: 0.4;
  }
}

.S-active--hover-element {
  opacity: 1 !important;

}


////NNEWS FEED STUFF////

.site-header {
  z-index: 4;
}
.site-container {
  z-index: 3;
}

.nav-separator {
  display: flex;
  position: relative;

  height: 100%;

  .nav-separator__inner {
      background: black;
      height: 23px;
    width: 1px;
    background: black;
    opacity: 0.3;

  }
}

.btn--uutiset {
	font-size: 1.2rem !important;
margin: 0;
font-weight: 500;
padding: 6px 10px;
min-width: 115px;
text-align: center;
.basic-btn__text {
  margin-left: 4px;
}
.basic-btn__icon {
  margin: 0;
  width: 13px;
  height: 13px;
}
}

.btn--uutiset:hover {
	.basic-btn__text {
		transform: none;
	}
	.basic-btn__icon {
		opacity: 1;
    transform: none;

	}
}

.S-active--news-feed {
.btn--uutiset	.basic-btn__icon {
		transform: rotate(180deg);

	}

}


.nav__news-feed {
  position: absolute;

  // width: calc(33.33% - 40px);

  // height: 242px;

  width: auto;

  background: #333333;
  z-index: 3;
  border-radius: 8px;
  box-shadow: 2px 3px 16px rgb(0 0 0 / 10%);

  overflow-y: auto;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  height: 0;
  transition: transform 0.25s, opacity 0.25s, height 0s 0.3s;

  &.-desktop {
    top: 50px;
    left: 0;
        @media screen and (max-width: 1100px) {
          right: 0;
          left: auto;
          top: 40px;
        }
        @media screen and (max-width: 550px) {
          right: -40px;
          left: auto;
          top: 50px;
        }
  }

&.-desktop .inner {
  max-width: 50%;
  min-width: 420px;
  min-height: 191px;
  max-height: 191px;
    overflow-y: auto;
    @media screen and (max-width: 550px) {
    max-width: 100vw;
    min-width: 10px;
    width: calc(100vw - 70px);
    }
}
.news-feed-footer {
  background: black;
padding: 20px;
}

ul {

    list-style: none;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    margin: 0;
        @media screen and (max-width: 1100px) {
        font-size: 1.3rem;
        }

}

li {
  display: flex;
    align-items: center;
    // border-top: solid 1px #242424;
    border-bottom: solid 1px $a-text-grey;
    padding: 20px 20px;
    padding-right: 40px;
    transition: 0.25s;
    cursor:pointer;
    &:hover {
      background: #1b1b1b;
    }
}
.tag {
  font-size: 1.1rem;
    background: $a-yellow;
    color: black;
    padding: 4px;
    border-radius: 2px;
    line-height: 100%;
    min-width: 50px;
    text-align: center;
}

p {
  margin: 0;
  margin-left: 10px;
}

}

////MOBILE OVERRIDE////
.nav__news-feed.-mobile {
  top:60px;
  left: 0;
  height: 100%;
  transform: none;
  opacity: 1;
  background: none;
  box-shadow:none;
overflow: hidden;
pointer-events: auto;
position: relative;

      top: 0;

      // opacity: 0;
      // pointer-events: none;
      h3 {
        margin: 0;
        margin-top: 10px;
          margin-bottom: 0;
    display: inline-block;
    line-height: 1;
    font-weight: 500;
    color: inherit;
    position: relative;

      }
      .h4 {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        // margin-top: 10px;
      }
  .inner {
  }
  li {
    border: none;
    padding-left: 0;
    &:hover {
      background: none;
    }
  }
  .news-feed-footer {
    background: none;
        padding-left: 0;
  }

}

.nav__news-feed.-mobile.-on__vertical {
.news-feed-footer {
padding-bottom: 0;
padding-top: 10px;
}
}
  @media screen and (min-width: 1000.11px) {
.nav__news-feed.-mobile.-on__vertical {
  display: none;
}
}


.S-active--news-feed {
  .nav__news-feed.-desktop{
    opacity: 1;
    transform: none;
    pointer-events: auto;
    height: auto;
      transition: transform 0.25s, opacity 0.25s, height 0s;
  }

  .btn--uutiset {
  // background: $a-black;
  // color:white;
  // border: solid 1px $a-black;
  }

}

.S-active--news-feed-mobile {
  .nav__news-feed.-mobile{
    opacity: 1;
    transform: none;
    pointer-events: auto;
    height: auto;
      transition: transform 0.25s, opacity 0.25s, height 0s;
  }


.fixed-mobile-navigation__links .-nav-link, .fixed-mobile-navigation__sub-links {
    opacity: 0;
    pointer-events: none;

  }

}



////SCROLL TOP///
.-scroll-top {
  top: auto;
  bottom: 30px;

}

.scroll-top-trigger {

  width: 50px;
  border: none;
  background: none;
  padding: 0;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
    // background: white;
    overflow: hidden;
        // border-radius: 999px;
  svg {
    width: 100%;


    height: auto;
    transform: rotate(-90deg);
  }
}



.headroom--not-top.headroom--pinned {
  .scroll-top-trigger {
    opacity: 1;
    pointer-events: all;
    transform: none;
    cursor: pointer;
  }
}





.fixed-mobile-navigation {


  // opacity: 1;
  // height: 100%;


}


.Target--palvelut {
min-width: 60px;
text-align: center;
}
.Target--laskentakohteet {
min-width: 126px;
text-align: center;
}
.Target--referenssit {
min-width: 86px;
text-align: center;
}
.Target--yhteystiedot {
min-width: 93px;
text-align: center;
}

////////NAV DATA///////
.Palvelut {
.Target--palvelut {
font-weight: 500;
}
}
.Laskentakohteet {
.Target--laskentakohteet {
font-weight: 500;
}
}
.Referenssit {
.Target--referenssit {
font-weight: 500;
}
}
.Yhteystiedot, .page-template-yhteys {
.Target--yhteystiedot {
font-weight: 500;
}
}
// .page-template-yritys {
// .Target--yritys {
// text-decoration: underline;
// }
// }
