@use "../resources" as *;

/*--------------------------------------------------------------
# Default Footer
--------------------------------------------------------------*/

.site-footer {
width: 100%;
background: $a-grey;
color: white;

}

$li-height: 28px;

.module--footer {

  position: relative;
  z-index: 2;
  color:white;
  padding: 100px 0;
  a {
    color: white;
    line-height: 1.6;
      @media screen and (max-width: 700px) {
        font-size: 1.6rem;
      }

  }
  .flx-container {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    margin:0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  }
  li {
        height: $li-height;
  }
}


.footer__left-bar {
  width: 50%;
  display: flex;
flex-direction: column;
.footer-logo {
  min-height: $li-height * 2;
}
.flx-container {
  display: flex;
flex-direction: column;
}
}
.footer__nav-links{
  width: 33.3333333333%;
}
.footer__extra-content{
  width: 16.6666666667%;
}


////MOBILE
.footer__left-bar {
  width: 50%;
    @media screen and (max-width: 1000px) {
      width: 33%;
    }
    @media screen and (max-width: 750px) {
      width: 100%;
    }
}
.footer__nav-links{
  width: 33.3333333333%;
  @media screen and (max-width: 750px) {
    width: 100%;
      padding-top: 20px;
  }
}
.footer__extra-content{
  width: 16.6666666667%;
  @media screen and (max-width: 750px) {
    width: 100%;
      padding-top: 20px;
  }
}




.footer-logo {
  svg {
    height: 37px;
    width:auto;
    fill: white !important;
  }
}


.footer-bg-border {
  opacity: 0.3;
  position: absolute;
    top: 0;
    pointer-events: none;
    width: calc(100% - 80px);
    left: 40px;
    height: 100%;
    z-index: 1;
    display: flex;
    .cell {
      width: 16.6666666667%;
      position: relative;
      min-height: 100%;
    }
    .cell:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background: black;
    }
    .cell:last-of-type:after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
          background: black;
    }
}

    @media screen and (max-width: 699.99px) {
        .footer-bg-border {
      width: calc(100% - 32px);
      left: 16px;
    }
      .footer-bg-border .cell {
        width: 25%;
      }
      .footer-bg-border .cell:nth-of-type(1) {
        display: none;
      }
      .footer-bg-border .cell:nth-of-type(2) {
          display: none;
      }

    }
