@use "../resources" as *;


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
	font-size: 62.5%; // resets so rem is easy to use 1.2rem = 12px.
}

//because we are using this on the front end and the back end we need to be careful
body{
	font-size: 1.8rem; //results in 18px
	line-height: var(--line-height);
	font-family: var(--font);
	color: var(--main-text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	@media screen and (max-width: 1200px) {
		 font-size: 1.6rem; //results in 16px
	}
	@media screen and (max-width: 700px) {
		 font-size: 1.4rem; //results in 16px
	}
}



//make article body of text get bigger on larger screens
@media(min-width: 1500px){
  .grow-font {
	font-size: var(--article-font-size); //1.7rem
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: var(--font);
		font-weight: 400;
}

.font-alt {
	font-family: var(--font-alt);
}

p {
	margin: 0 0 1em 0;
		font-weight: 400;
}


.entry-content > p, section p{
	&:last-child {
		margin-bottom: 0;
	}
}

/*------- Quick text alignment classes --------*/
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-justify {
	text-align: justify;
}


/*--------------------------------------------------------------
# Default Headings in articles. Front page and other special pages should override the more common setting
--------------------------------------------------------------*/
h1, .h1 {
	font-size: 8rem;
	line-height: 1.2;
	font-weight: normal;
	margin: 0;
	  @media screen and (max-width: 1100px) {
			font-size: 7vw;
		}
		@media screen and (max-width: 700px) {
		 font-size: 7vw;
	 }
}

h2, .h2 {
	font-size: 6.2rem;
	line-height: 1.2;
	margin: 0;
	@media screen and (max-width: 1200px) {
		 font-size: 4.8rem;
		 margin-bottom: 32px;
	}

	&:first-child{
		margin-top: 0;
		margin-bottom: 42px;
		@media screen and (max-width: 1200px) {
			 margin-bottom: 32px;
		}
	}
}

h3, .h3 {
	font-size: 4.8rem;
	line-height: 1.2;
	margin: 0;
	margin-bottom: 40px;
	// word-break: break-all;
	@media screen and (max-width: $base-width-media-max) {
	font-size: 3.3vw;
	}
	@media screen and (max-width: 1024px) {
	font-size: 3.4rem;
	}
	@media screen and (max-width: 1200px) {
	   margin-bottom: 20px;
	}
}

h4, .h4 {
	font-size: 3.6rem;
	line-height: 1.2;

}

h5, .h5 {
	font-size: 1.9rem;
	line-height: 1.2;
		margin: 0;
}


/*--------------------------------------------------------------
# Basic Links
--------------------------------------------------------------*/

a {
	color: var(--black);
	text-decoration: none;
	cursor: pointer;
}

h1 a, h2 a{
	color: inherit;
}


/*--------------------------------------------------------------
# Selection Highlighting
--------------------------------------------------------------*/
::selection {
	background: var(--highlight);
	color: white;
}


/*--------------------------------------------------------------
# quotes
--------------------------------------------------------------*/
dfn,
cite,
em,
blockquote {
	font-style: italic;
}

blockquote {
	quotes: "“" "”";
	overflow: hidden;
	position: relative;
	margin: 0 0 2em 0;
	font-family: var(--font);
	background: transparent;

	p {
		padding-left: 40px;
	}

	p:last-of-type {
		margin: 0;
	}

	//quote mark
	&:before {
		content: open-quote;
		font-size: 4rem;
		position: absolute;
		left: 0;
		top: 0;
		line-height: 1;
	}
}


cite, .wp-block-quote cite {
	font-family: var(--font);
	float: right;
	margin-top: 0;
	font-size: 14px;

	&:before {
		content: '\2014';
		margin-right: 1em;
	}
}

/*--------------------------------------------------------------
# Post Meta defaults
--------------------------------------------------------------*/
time, time a, .card-meta {
  font-size: 1.3rem;
}

/*--------------------------------------------------------------
# WP Edit Post Link
--------------------------------------------------------------*/
.edit-link {
	font-size: 1.4rem;
}


/*--------------------------------------------------------------
# Code
--------------------------------------------------------------*/
pre {
	background: #f7f9fa;
	border: 1px solid #e6e8eb;
	font-family: var(--font-pre);
	font-size: 14px;
	line-height: var(--line-height-pre);
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
	padding: 20px;
	white-space: pre-wrap;
}

code,
kbd,
tt,
var {
	font-family: var(--font-pre);
	font-size: 15px;
}


.-bold-txt, strong {
	font-weight: 500;
}


////////BUTTTONS//////

.capsule-wrap {
margin-top: 40px;
}



.basic-btn {

	padding: 12px 28px;
	text-align: center;
	border-radius: 999px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	cursor:pointer;
	margin-right: 20px;
}

.basic-btn__text {
line-height: 1;
		transition: 0.3s;
}
.basic-btn__icon {
	width: 1.7rem;
	height: 1.7rem;

	margin-left: 0.8rem;
			transition: 0.3s;
}

.btn--wide {
	font-size: 2rem;
}

.basic-btn:hover {
	.basic-btn__text {
		transform: translateX(1.2rem);
		transition: 0.5s 0.1s;
	}
	.basic-btn__icon {
		opacity: 0;
			transition: 0.25s;
	}
}

.btn--yellow {
	background: $a-yellow;
	border-color: $a-yellow;
	color: $a-black;
}
.btn--white {
	background: $a-white;
	border-color: $a-black;
	color: $a-black;
}
.btn--bordered {
	background: transparent;

}
.btn--black {
	background: black;
	color:$a-yellow;
}

.btn--black {
	svg {
		fill: $a-yellow;
	}
}

.btn--wide {
	.basic-btn__icon {
		width: 1.8rem;
		height: 1.8rem;


	}
}
